<div id="aboutWrapper">
  <div class="col-md-10 col-md-offset-1">
    {{#each model}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="col-md-12"><div class="col-md-4">Version {{version}} (<i>{{type}}</i>)</div><div class="col-md-4 col-md-offset-4 text-right">{{releaseDate}}</div></div>
      </div>
      <div class="panel-body">
        <table class="table">
          <td><div class="label label-danger">{{type}}</div></td>
          <td>{{name}}</td>
          <td>{{description}}</td>
        </table>
      </div>
    </div>
    {{/each}}
  </div>
</div>
