<h3>Data Field Attribute(s):</h3>
{{#if models}}
{{else}}

{{/if}}
  <div class="alert alert-info fade in" id="filters-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <!--strong>Step 1:</strong-->Select your Data Field attribute(s)
  </div>

{{#each model in models}}
<div class="data-settings">
  <div {{bind-attr class="model.ontologyRef"}}>
    <div class="dropdown">
    <span>{{model.name}} {{info-popover name=model.name}}</span>
    <a class="btn btn-default dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true" {{action 'showSettings'  model.id model.dataFieldId model.name model.values}}>
      <i class="fa fa-cog"></i>
    </a>
    <a class="btn btn-default remove-btn" {{action 'close' model.id model.name}}>
      <i class="fa fa-times-circle-o"></i>
    </a>

      <div class="dropdown-menu data-settings-menu dropdown-toggle dropdown-menu-right panel panel-default" role="menu" aria-labelledby="dropdownMenu" toggle="dropdown">
        <form class="form-horizontal">
              <div class="panel-heading">
                  <div class="pull-left">
                      <span class="filter-label">Filter(s)</span>
                  </div>
                  <div class="pull-right">
                      <button type="button" class="btn btn-default pull-right add-new-filter" {{bind-attr add-subfilter="model.dataFieldId"}}><span class="glyphicon glyphicon-plus"></span>add new filter</button>
                  </div>
              </div>
              <div class="panel-body">
                  <div class="pull-left" {{bind-attr list-container="model.dataFieldId"}}>
                    <div class="list-container">
                        <div class="list-group">
                            {{#each subFilter in model.subFilter}}
                                <a href="javascript:void(0)" {{bind-attr list-subfilter="subFilter.id"}} class="list-group-item filter-list filter-list-item"><span class="filter-label">{{subFilter.name}}</span>
                                    <span class="pull-right"><i class="fa fa-angle-right "></i>
                                 </span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                  </div>
                  <div class="col-md-7 pull-right filter-wrapper" {{bind-attr list-container="model.dataFieldId"}}>
                      {{#each subFilter in model.subFilter}}

                          <div class="sub-filters hide" {{bind-attr id="subFilter.id"}}>
                              <div class="sub-filter-name-remove">
                                  <div class="pull-left sub-filter-name">
                                      <b>{{subFilter.name}}</b>
                                  </div>
                                  <div class="pull-right">
                                      <button type="button" class="btn btn-sm btn-danger remove-subfilter" {{bind-attr remove-subfilter="subFilter.id"}}><span class="glyphicon glyphicon-trash"></span></button>
                                  </div>

                              </div>

              {{#ifDataTypeAnalyticWithParams model}}
                              {{#ifDataTypeAnalyticParamsEmpty model.analyticalParams}}

                              {{else}}
                                  {{#each param in model.analyticalParams}}
                                      {{#ifDataTypeDate param.type }}
                                          <div class="">
                                              <label {{bind-attr for="model.id"}}>Date:</label>
                                              <input required type="text" class="form-control datepicker from-input"  identifier="min"  {{bind-attr data-date="subFilter.id"}}/>
                                          </div>
                                      {{/ifDataTypeDate}}
                                      {{#ifDataTypeTimeStamp param.type }}
                                          <div class="">
                                              <label {{bind-attr for="model.id"}}>Hour:</label>
                                              <input required type="text" class="form-control hourpicker to-input"  identifier="max"  {{bind-attr data-hour="subFilter.id"}} />
                                          </div>
                                      {{/ifDataTypeTimeStamp}}
                                      </div><!-- sub-filters -->
                                  {{/each}}
                              {{/ifDataTypeAnalyticParamsEmpty}}

              {{/ifDataTypeAnalyticWithParams}}

              {{#ifDataTypeNumeric model.type}}
                          <div class="choice-select">
                              <select required {{bind-attr choice-select="subFilter.id"}} class="form-control">
                                  {{#each value in choice}}
                                      <option value="{{value}}">{{value}}</option>
                                  {{/each}}
                              </select>
                          </div>

                          <div id="input_option">
                              <div {{bind-attr input-option="subFilter.id"}} id="input_option_value_only row">
                                  value:<br>
                                  <div class="col-sm-12 select-row">
                                      <select required class="data-settings-list col-md-12" {{bind-attr id="model.id"}} {{bind-attr name="model.name"}} {{bind-attr select-value="subFilter.id"}} multiple="multiple">
                                          {{#each value in model.values}}
                                              <option value="{{value}}">{{value}}</option>
                                          {{/each}}
                                      </select>
                                      {{#ifDataTypeEnum model.type}}
                                          <div class="col-sm-12 select-row">

                                              <button type="button" class="btn btn-info select-all pull-right" {{bind-attr bt="subFilter.id"}}>Select All</button>

                                          </div>
                                      {{/ifDataTypeEnum}}
                                  </div>
                              </div>

                              <div {{bind-attr min-max="subFilter.id"}} class="hide">
                                  min: <br>
                                  <select required class="data-settings-list col-md-12  full-width" {{bind-attr min="subFilter.id"}} {{bind-attr name="model.name"}} multiple="multiple">
                                      {{#each value in model.values}}
                                          <option value="{{value}}">{{value}}</option>
                                      {{/each}}
                                  </select>
                                  <br>
                                  max: <br>
                                  <select required class="data-settings-list col-md-12  full-width" {{bind-attr max="subFilter.id"}} {{bind-attr name="model.name"}} multiple="multiple">
                                      {{#each value in model.values}}
                                          <option value="{{value}}">{{value}}</option>
                                      {{/each}}
                                  </select>
                              </div>
                          </div>
                      </div><!-- sub-filters -->

              {{else}}
                          <div class="form-group">
                              <div class="col-sm-7">
                                  <label class="radio-inline"><input class="radio-inline" type="radio" value="equal" {{bind-attr name="subFilter.id"}} />equal</label>
                              </div>
                              <div class="col-sm-4">
                                  <label class="radio-inline"><input class="radio-inline" type="radio" value="similar" {{bind-attr name="subFilter.id"}} />similar</label>
                              </div>
                          </div>

                          {{#ifDataTypeDate model.type}}

                                  <div class="choice-select">
                                      <select required {{bind-attr choice-select="subFilter.id"}} class="form-control">
                                          {{#each value in choice}}
                                              <option value="{{value}}">{{value}}</option>
                                          {{/each}}
                                      </select>
                                  </div>

                                  <div id="input_option">
                                      <div {{bind-attr input-option="subFilter.id"}} id="input_option_value_only row">
                                          Date:<br>
                                          <div class="col-sm-12 select-row">
                                              <input required type="text" class="form-control datepicker"  {{bind-attr select-value="subFilter.id"}}  {{bind-attr name="model.name"}} />
                                          </div>
                                      </div>

                                      <div {{bind-attr min-max="subFilter.id"}} class="hide">
                                          Start Date: <br>
                                          <input required type="text" class="form-control datepicker"  {{bind-attr min="subFilter.id"}} {{bind-attr name="model.name"}} />

                                          <br>
                                          End Date: <br>
                                          <input required type="text" class="form-control datepicker"  {{bind-attr max="subFilter.id"}} {{bind-attr name="model.name"}} />
                                      </div>
                                  </div>

                          {{else}}

                              {{#ifDataTypeEnum model.type}}
                                  Enter or select value(s):
                              {{else}}
                                  Enter value(s):
                              {{/ifDataTypeEnum}}


                              <select required class="data-settings-list col-md-12" {{bind-attr id="model.id"}} {{bind-attr name="model.name"}} {{bind-attr select-value="subFilter.id"}} multiple="multiple">
                                  {{#each value in model.values}}
                                      <option value="{{value}}">{{value}}</option>
                                  {{/each}}
                              </select>
                              {{#ifDataTypeEnum model.type}}

                                  <div class="col-sm-12 select-row">
                                      <button type="button" class="btn btn-info select-all pull-right" {{bind-attr bt="subFilter.id"}}>Select All</button>
                                  </div>
                              {{/ifDataTypeEnum}}

                          {{/ifDataTypeDate}}
                      </div><!-- sub-filters -->


              {{/ifDataTypeNumeric}}
                  {{/each}}
                  </div><!-- filter-wrapper -->
              </div><!-- panel-body -->
        </form>

        <div class="filter-message" style="display: none;">
            <div class="alert alert-danger"><p>All filters have been removed.</p></div><p>To add filters, click the "add new filter" button above.</p>
        </div>

      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div>
</div><!-- data-settings-->
{{/each}}

{{#if addGraphBtn}}
    <hr>
    <div class="alert alert-info fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        To add a graph, click the add graph button. Then select the corresponding filters for each field displayed.
    </div>
    <div class="add-graph-btn-container">
        <button type="button" class="btn btn-default add-new-graph" {{action 'addGraph' }} ><span class="glyphicon glyphicon-plus"></span>add graph</button>
    </div>

{{/if}}

<div class="row">
{{#each graph in graphs}}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="pandel-body">
                <div class="graph-panel">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            {{graph.name}}
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <a class="btn btn-default remove-btn" {{action 'removeGraph' graph.id }}>
                                <i class="fa fa-times-circle-o"></i>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <b>x-axis</b><br/>
                            <select {{bind-attr x-axis="graph.id"}} class="form-control">

                                <option value="" selected >select x-axis</option>
                                {{#each data in graphData}}
                                    <option {{bind-attr value="data.id"}} >{{data.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <b>y-axis</b><br/>
                            <select {{bind-attr y-axis="graph.id"}} class="form-control">


                                <option value="" selected>select y-axis</option>
                                <option value="sum">sum</option>
                                <option value="count">count</option>
                                <option value="average">average</option>


                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <b>g-group</b><br/>
                            <select required class="g-group"  {{bind-attr g-group="graph.id"}} multiple="multiple">
                                {{#each data in graphData}}
                                    <option {{bind-attr value="data.id"}}>{{data.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


{{/each}}

</div>



